* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
}
.title {
  font-size: 28px;
  color: #1e293b;
  font-weight: 700;
}
.buttons_container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 25px;
  list-style-type: none;
}
.custom_button {
  min-width: 80px;
  min-height: 30px;
  border: 1px solid #db1c48;
  border-radius: 15px;
  background-color: transparent;
  color: #db1c48;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.active_button {
  min-width: 80px;
  min-height: 30px;
  border: 1px solid #db1c48;
  border-radius: 15px;
  background-color: #db1c48;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 25px;
}
.image {
  width: 40%;
}
.image_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
